.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;

  ul {
    display: flex;
    list-style: none;

    li {
      margin-left: 5px;

      a {
        padding: 0.3rem;
        text-decoration: none;
        color: #111111;
        transition: 0.4s;
        text-transform: uppercase;

        &:hover {
          color: lightblue;
        }
      }
    }
  }

  .nav-active {
    position: relative;

    &::after {
      content: "";
      height: 2px;
      width: 0;
      background: #111111;
      position: absolute;
      border-radius: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: anim 0.6s ease forwards;

      @keyframes anim {
        to {
          width: 100%;
        }
      }
    }
  }
}
